form{
    background-color: rgb(240, 170, 86);
}

legend{
    font-weight: 600;
}


button{
    background-color: rgb(2, 194, 66);
    font-weight: 600;
    color: black;
}

.error{
    font-weight: 800;
    color: rgb(134, 0, 0);
}